<div class="container-fluid">

    <!-- <app-imagen imgUrl="assets/images/image-computer.png" altImg="Computer Imagen"/> -->
</div>


<section id="asociados">
    <app-asociados />
</section>

<section id="details">
    <div class="container">
        <h4 id="titulo">Clipboard for iOS and Mac OS</h4>
        <p id="detalles">
            Available for free on the App Store Download for Mac or iOS, sync with iCloud and you`re ready to start
            adding to your clipboard.
        </p>

        <div class="buttons">
            <app-botton type="button" color="hsl(171, 66%, 44%)">
                Download for iOS
            </app-botton>

            <app-botton type="button" color="hsl(233, 100%, 69%)">
                Download for Mac
            </app-botton>
        </div>
    </div>


</section>

<div class="footer">
    <app-footer />
</div>