#main {
    padding: 6rem 0 4rem 0;
    text-align: center;
    #logo-history {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .container {
        max-width: 820px !important;
        .buttons {
            justify-content: center;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }
}

#details-keep {
    padding: 7.3rem 0;
    .container {
        text-align: center;
        max-width: 820px !important;
    }

    .descripcion {
        margin-top: 6rem;
        .row-descripcion {
            display: flex;
            align-items: center;
            gap: 80px;
            #logo-keep {
                padding-left: 0px;
                padding-right: 0;
                margin: 0;
            }
            #contenido-keep {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
                justify-content: center;
                width: 500px;
            }
        }
    }
}

#details-access {
    padding: 3rem 0;
    .container {
        max-width: 820px !important;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .detalles {
            text-align: center;
        }

        .img-access {
            width: 100%;
        }
    }
}

#details-software {
    padding: 2rem 0 5rem 0;
    .container {
        .detalles {
            text-align: center;
            margin-bottom: 5rem;
        }
    }
}

#asociados {
    padding: 9rem 0;
    .container {
        #img-asociados {
            text-align: center;
            gap: 20px;
        }
    }
}

#details {
    padding: 8rem 0;
    text-align: center;
    .container {
        max-width: 820px !important;
        .buttons {
            justify-content: center;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }
}

.footer {
    background: hsl(201, 11%, 96%);
    padding: 5rem 0;
}


@media screen and (max-width: 1000px) {
    #details-keep {
        padding: 4rem 0;
        .container {
            text-align: center;
            max-width: 820px !important;
        }

        .descripcion {
            margin-top: 6rem;
            .row-descripcion {
                justify-content: center;
                flex-direction: column;
                #logo-keep {
                    padding-left: 12px;
                    padding-right: 12px;
                    margin: 0;
                    text-align: center;
                }
                #contenido-keep {
                    text-align: center;
                    width: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 830px) {
    #main {
        padding: 5rem 0;
        .container {
            .buttons {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }

    #details-access {
        padding: 1rem 0;
    }

    #details-software {
        padding: 0.7rem 0;
    }

    #asociados {
        padding: 3rem 0;
        .container {
            #img-asociados {
                text-align: center;
                gap: 20px;
            }
        }
    }

    #details {
        padding: 6rem 0;
        .container {
            .buttons {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }
}
