#details-access {
    padding: 3rem 0;
    .container {
        max-width: 820px !important;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .detalles {
            text-align: center;
        }

        .img-access {
            width: 100%;
        }
    }
}

#details-software {
    padding: 5rem 0;
    .container {
        .detalles {
            text-align: center;
            margin-bottom: 5rem;
        }
    }
}

#asociados {
    padding: 9rem 0;
    .container {
        #img-asociados {
            text-align: center;
            gap: 20px;
        }
    }
}

#details {
    padding: 8rem 0;
    text-align: center;
    .container {
        max-width: 820px !important;
        .buttons {
            justify-content: center;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }
}

@media screen and (min-width: 360px) and (max-width: 460px) {
    #details {
        .container {
            .buttons {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }
}

.footer {
    background: hsl(201, 11%, 96%);
    padding: 5rem 0;
}
